# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez
mix.lock
efence.iml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/junitgenerator-prj-settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/dbnavigator.xml
.idea/preferred-vcs.xml
.idea/workspace.xml
.idea/codeStyles/Project.xml
config/config.exs
lib/efence/Elixir.Efence.beam
rel/config.exs
